html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  background: black;
  overflow: hidden;
}

canvas {
  display: block;
}

#container-three {
  position: fixed;

  left: 0;
  top: 0;

  width: 100vw;
  height: 100vh;
}

#container-p5 {
  display: none;
}